@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #111;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow-x: hidden;
}
